[remote "diaspora"]
    url = git@github.com:diaspora/diaspora.git
    fetch = +refs/heads/*:refs/remotes/diaspora/*
[remote "github"]
    url = git@github.com:huangyingw/diaspora.git
    fetch = +refs/heads/*:refs/remotes/github/*
[push]
    remote = github
[gsync]
    remote = diaspora
    branch = master
[merge]
    allow = true
[branch "dev"]
    remote = github
    merge = refs/heads/dev
[branch "master"]
    remote = diaspora
    merge = refs/heads/master
[commit]
    message = n
[vrun]
    silent = false
    async = false
[gdif]
    ignore = ./.gitmodules
    ignore = ./Dockerfile
    ignore = ./config/database.yml
    ignore = ./config/diaspora.yml
    ignore = ./diaspora-docker
    ignore = ./docker-compose.yml
    ignore = ./readme
    ignore = ./setup
    ignore = ./test.sh
